<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>calendar</key>
		<string>日历</string>
		<key>date</key>
		<string> </string>
		<key>detail</key>
		<string>Acme 取暖油.  500 升</string>
		<key>name</key>
		<string>牛圈 家 取暖油</string>
	</dict>
</array>
</plist>
